{% extends "auth.html" %}

{% block content %}
<div class="l-main">
    <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
        {% include "snippets/sidebar.html" %}
    </div>
    <main id="content" class="l-main__body" data-item="body">
        {% include "snippets/header.html" %}
        <div class="container" style="padding-block: 2.5rem;">
            <div class="app-body">
                <div class="app-card" x-data="dataTable('users', ['name', 'email', 'role'])">
                    <div class="app-card__body">
                        <div class="data-table">
                            <!-- Bulk Actions Alert -->
                            <div class="alert alert--info data-table-alert" x-show="selectedItems.length"
                                style="display: none;">
                                <span
                                    x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`">0
                                    items are selected</span>
                                <div class="data-table-alert__actions">
                                    <div class="data-table-alert__column">
                                        <button @click="selectAllCheckbox($event);" class="btn btn--primary btn--sm"
                                            x-text="`Select all ${users.length > total ? total : users.length}`">Select
                                            all 20</button>
                                        <button @click="deselectAllCheckbox($event);"
                                            class="btn btn--primary btn--sm">Deselect all</button>
                                    </div>
                                    <div class="data-table-alert__column">
                                        <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                            <option value="bulk-edit">Bulk edit</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <button class="btn btn--primary btn--sm">Run</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Table -->
                            <div class="table-responsive">
                                <table class="table table--hover">
                                    <thead>
                                        <tr>
                                            <!-- Select All Checkbox -->
                                            <th style="inline-size: 3.25rem;">
                                                <span class="sr-only">Select</span>
                                                <label @click="toggleAllCheckbox($event);" aria-label="Select all item"
                                                    class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1"
                                                        name="select-all" x-model="selectAll">
                                                </label>
                                            </th>

                                            <!-- Name Column -->
                                            <th>
                                                <button @click="sort('name')" class="sort-btn" type="button">
                                                    Name
                                                    <i data-feather="chevrons-up"></i>
                                                </button>
                                            </th>

                                            <!-- Email Column -->
                                            <th>
                                                <button @click="sort('email')" class="sort-btn" type="button">
                                                    Email
                                                    <i data-feather="chevrons-up"></i>
                                                </button>
                                            </th>

                                            <!-- Role Column -->
                                            <th>
                                                <button @click="sort('role')" class="sort-btn" type="button">
                                                    Role
                                                    <i data-feather="chevrons-up"></i>
                                                </button>
                                            </th>

                                            <!-- Actions Column -->
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- No Results -->
                                        <template x-if="pagedItems.length === 0">
                                            <tr>
                                                <td class="data-table__no-results" colspan="5">No results were found.
                                                </td>
                                            </tr>
                                        </template>

                                        <!-- User Rows -->
                                        <template x-for="(item, index) in pagedItems" :key="item.id">
                                            <tr>
                                                <!-- Select Checkbox -->
                                                <td>
                                                    <label class="form-check" :aria-label="`Select ${item.name}`">
                                                        <input :name="item.id" class="form-check__control"
                                                            type="checkbox" value="1" x-model="item.selected"
                                                            :change="updateSelectAllStatus()">
                                                    </label>
                                                </td>

                                                <!-- Name -->
                                                <td x-text="item.name"></td>

                                                <!-- Email -->
                                                <td x-text="item.email"></td>

                                                <!-- Role -->
                                                <td x-text="item.role"></td>

                                                <!-- Actions -->
                                                <td>
                                                    <div class="data-table__actions">
                                                        <!-- Edit Button -->
                                                        <a href="#" class="btn btn--light btn--sm btn--icon"
                                                            aria-label="Edit" @click.prevent="editItem(item)">
                                                            <i data-feather="edit" width="12" height="12"></i>
                                                        </a>

                                                        <!-- Delete Button -->
                                                        <a href="#" class="btn btn--delete btn--sm btn--icon"
                                                            aria-label="Delete" @click.prevent="deleteItem(item)">
                                                            <i data-feather="trash-2" width="12" height="12"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Table Footer -->
                            <div class="data-table__footer">
                                <!-- Results Count -->
                                <div class="data-table__footer-column">
                                    <div class="form-group">
                                        <label class="sr-only" for="number-of-results">Number of results</label>
                                        <select class="form-control form-control--sm" id="number-of-results"
                                            x-model="pageSize">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <p x-show="pagedItems.length > 0" x-text="resultsCount">Showing 1 to 10 of 20
                                        results</p>
                                </div>

                                <!-- Pagination -->
                                <nav x-show="pages().length > 1" class="pagination" aria-label="Posts pagination">
                                    <ul class="pagination__links">
                                        <!-- Previous Button -->
                                        <li>
                                            <button @click="previousPage" class="btn btn--sm btn--outline-primary"
                                                :disabled="curPage === 1">
                                                Previous
                                            </button>
                                        </li>

                                        <!-- Page Numbers -->
                                        <template x-for="(page, index) in pages()" :key="index">
                                            <li>
                                                <button @click="viewPage(index + 1)"
                                                    class="btn btn--sm btn--outline-primary"
                                                    :class="{ 'btn--primary': curPage === index + 1 }"
                                                    :aria-current="curPage === index + 1 ? 'page' : null">
                                                    <span x-text="index + 1"></span>
                                                </button>
                                            </li>
                                        </template>

                                        <!-- Next Button -->
                                        <li>
                                            <button @click="nextPage" class="btn btn--sm btn--outline-primary"
                                                :disabled="curPage === totalPages()">
                                                Next
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}