{% extends "auth.html" %}

{% block content %}
<div class="l-main">
    <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
        {% include "snippets/sidebar.html" %}
    </div>
    <main id="content" class="l-main__body" data-item="body">
        {% include "snippets/header.html" %}
        <div class="container" style="padding-block: 2.5rem;">
            <div class="app-body">
                <div class="app-card">
                    <div class="app-card__header">
                        <h3 style="margin-bottom: 0px;">Add New Equipment</h3>
                    </div>
                    <div class="app-card__body">
                        <div class="form-group-stack form-group-container" x-data="equipmentForm" x-init="init">
                            <div class="form-group--row">
                                <label class="form-label" for="equipment-name">Name <span class="required-marker" aria-label="Required">*</span></label>
                                <input class="form-control" id="equipment-name" x-model="equipment.name" type="text">
                            </div>
                            <div class="form-group--row">
                                <label class="form-label" for="equipment-category">Category <span class="required-marker" aria-label="Required">*</span></label>
                                <select class="form-control" id="equipment-category" x-model="equipment.category">
                                    <option value="Earthmoving">Earthmoving</option>
                                    <option value="Material Handling">Material Handling</option>
                                    <option value="Construction Vehicles">Construction Vehicles</option>
                                    <option value="Compaction">Compaction</option>
                                    <option value="Paving and Concrete">Paving and Concrete</option>
                                </select>
                            </div>
                            <div class="form-group--row">
                                <label class="form-label" for="location">Location <span class="required-marker" aria-label="Required">*</span></label>
                                <select class="form-control" id="location" x-model="equipment.location_id">
                                    <option value="">Select a location</option>
                                    <template x-for="location in locations" :key="location.id">
                                        <option :value="location.id" x-text="location.name"></option>
                                    </template>
                                </select>
                            </div>
                            <div class="form-group--row">
                                <label class="form-label" for="equipment-image">Image</label>
                                <div class="file-group-container">
                                    <div class="file-group">
                                        <div class="file-group__preview">
                                            <svg aria-hidden="true" focusable="false" fill="none" height="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="file-group__icon">
                                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                                <circle cx="8.5" cy="8.5" r="1.5"></circle>
                                                <polyline points="21 15 16 10 5 21"></polyline>
                                            </svg>
                                        </div>
                                        <div class="file-group__body">
                                            <p class="file-group__title">Upload a equipment image</p>
                                            <ul class="file-group__meta">
                                                <li>Accepted formats: JPG, PNG</li>
                                                <li>Maximum upload limit: 5 MB</li>
                                            </ul>
                                            <div class="file-group__action">
                                                <button class="btn btn--delete btn--icon file-group__remove" aria-label="Remove file">
                                                    <svg aria-hidden="true" fill="none" focusable="false" height="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" stroke="currentColor" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="btn__icon">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </button>
                                                <input class="form-file file-group__input" type="file" id="equipment-image" accept="image/png, image/jpeg" @change="equipment.image = $event.target.files[0]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group--row">
                                <label class="form-label" for="price-per-day">Price per day</label>
                                <div class="form-group--stacked">
                                    <div class="form-group-label">UGX</div>
                                    <input class="form-control" id="price-per-day" x-model="equipment.price_per_day" type="text">
                                    <div class="form-group-label">.00</div>
                                </div>
                            </div>
                            <div class="form-group--row">
                                <label class="form-label" for="transport-cost-per-km">Transport cost per km</label>
                                <div class="form-group--stacked">
                                    <div class="form-group-label">UGX</div>
                                    <input class="form-control" id="transport-cost-per-km" x-model="equipment.transport_cost_per_km" type="text">
                                    <div class="form-group-label">.00</div>
                                </div>
                            </div>
                            <div class="form-group--row" style="display: flex; justify-content: flex-end;">
                                <button class="btn btn--primary" @click="createEquipment">
                                    Save Equipment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="{{ url_for('static', filename='js/equipment-form.js') }}"></script>
{% endblock %}
