{% extends "auth.html" %}

{% block content %}
<div class="l-main">
    <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
        {% include "snippets/sidebar.html" %}
    </div>
    <main id="content" class="l-main__body" data-item="body">
        {% include "snippets/header.html" %}
        <div class="container" style="padding-block: 2.5rem;">
            <div class="app-body">
                <div class="app-card" x-data="dataTable('products', ['name', 'status'])">
                    <div class="app-card__header">
                        <button class="btn btn--icon btn--primary" @click="addNewEquipment">
                            <i data-feather="plus" width="20" height="20"></i>
                            Add New
                        </button>

                        <div class="app-card__actions">
                            <form class="search-form" @submit.prevent="">
                                <svg aria-hidden="true" focusable="false" height="24" role="img"
                                    style="fill: currentColor" viewBox="0 0 24 24" width="24"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                    class="search-form__icon">
                                    <path
                                        d="M19.501,9.75c-0,2.152 -0.699,4.14 -1.875,5.752l5.935,5.94c0.585,0.586 0.585,1.537 -0,2.123c-0.586,0.586 -1.538,0.586 -2.124,0l-5.935,-5.939c-1.612,1.181 -3.6,1.875 -5.752,1.875c-5.386,-0 -9.75,-4.364 -9.75,-9.751c0,-5.386 4.364,-9.75 9.75,-9.75c5.387,-0 9.751,4.364 9.751,9.75Zm-9.751,6.751c3.704,-0 6.751,-3.047 6.751,-6.751c-0,-3.703 -3.047,-6.75 -6.751,-6.75c-3.703,0 -6.75,3.047 -6.75,6.75c0,3.704 3.047,6.751 6.75,6.751Z">
                                    </path>
                                </svg>
                                <input x-model="search" class="search-form__control" type="text" placeholder="Search..."
                                    title="Search">
                            </form>
                            <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                                <button class="btn btn--light btn--icon btn--counter data-table-filter__toggle"
                                    :aria-expanded="open" @click="open = ! open" aria-label="Filters"
                                    aria-expanded="false">
                                    <svg aria-hidden="true" fill="none" focusable="false" height="24"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        stroke="currentColor" viewBox="0 0 24 24" width="24"
                                        xmlns="http://www.w3.org/2000/svg" class="btn__icon">
                                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                    </svg>
                                    <span class="btn__counter" x-show="filters.length > 0" x-text="filters.length"
                                        style="display: none;">0</span>
                                </button>
                                <div class="context-menu context-menu--inline-end"
                                    :data-state="open ? 'open' : 'closed'" data-state="closed">
                                    <form @submit.prevent="submitForm(formData)"
                                        class="form-group-stack form-group-stack--bordered form-group-container">
                                        <div class="form-group">
                                            <label class="form-label" for="location">Location</label>
                                            <select class="form-control" id="location" x-model="formData.location">
                                                <option value="All">All Locations</option>
                                                <option value="Kololo">Kololo</option>
                                                <option value="Nakasero">Nakasero</option>
                                                <option value="Ntinda">Ntinda</option>
                                                <option value="Kamwokya">Kamwokya</option>
                                                <option value="Old Kampala">Old Kampala</option>
                                                <option value="Nakawa">Nakawa</option>
                                                <option value="Kisugu">Kisugu</option>
                                                <option value="Lugogo">Lugogo</option>
                                                <option value="Buziga">Buziga</option>
                                                <option value="Muyenga">Muyenga</option>
                                            </select>
                                            <label class="form-label" for="category">Category</label>
                                            <select class="form-control" id="category" x-model="formData.category">
                                                <option value="All">All Categories</option>
                                                <option value="Earthmoving">Earthmoving</option>
                                                <option value="Material Handling">Material Handling</option>
                                                <option value="Construction Vehicles">Construction Vehicles</option>
                                                <option value="Compaction">Compaction</option>
                                                <option value="Paving and Concrete">Paving and Concrete</option>
                                            </select>
                                            <label class="form-label" for="status">Status</label>
                                            <select class="form-control" id="status" x-model="formData.status">
                                                <option value="All">All Statuses</option>
                                                <option value="available">Available</option>
                                                <option value="rented">Rented</option>
                                            </select>

                                        </div>
                                        <div class="data-table-filter__actions">
                                            <button class="btn btn--primary btn--sm">Filter</button>
                                            <button @click="filters = []" type="reset"
                                                class="btn btn--light btn--sm">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-card__body">
                        <div class="data-table">
                            <div class="alert alert--info data-table-alert" x-show="selectedItems.length"
                                style="display: none;">
                                <span
                                    x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`">0
                                    items are selected</span>
                                <div class="data-table-alert__actions">
                                    <div class="data-table-alert__column">
                                        <button @click="selectAllCheckbox($event);" class="btn btn--primary btn--sm"
                                            x-text="`Select all ${equipment.length > total ? total : equipment.length}`">Select
                                            all 20</button>
                                        <button @click="deselectAllCheckbox($event);"
                                            class="btn btn--primary btn--sm">Deselect all</button>
                                    </div>
                                    <div class="data-table-alert__column">
                                        <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                            <option value="bulk-edit">Bulk edit</option>
                                            <option value="send-notification">Send notification</option>
                                            <option value="publish">Publish</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <button class="btn btn--primary btn--sm">Run</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table--hover">
                                    <thead>
                                        <tr>
                                            <th style="inline-size: 3.25rem;">
                                                <span class="sr-only">Select</span>
                                                <label @click="toggleAllCheckbox($event);" aria-label="Select all item"
                                                    class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1"
                                                        name="select-all" x-model="selectAll">
                                                </label>
                                            </th>
                                            <th>Image</th>
                                            <th>
                                                <button @click="sort('name')" class="sort-btn" type="button">
                                                    Name
                                                    <i data-feather="chevrons-up"></i>
                                                </button>
                                            </th>
                                            <th>
                                                <button @click="sort('price')" class="sort-btn" type="button">
                                                    Location
                                                    <i data-feather="chevrons-up"></i>
                                                </button>
                                            </th>
                                            <th>Price (UGX)</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template x-if="pagedItems.length === 0">
                                            <tr>
                                                <td class="data-table__no-results" colspan="8">No results were found.
                                                </td>
                                            </tr>
                                        </template>
                                        <template x-for="(item, index) in pagedItems" :key="item.id">
                                            <tr>
                                                <td>
                                                    <label class="form-check" :aria-label="`Select ${item.name}`">
                                                        <input :name="item.id" class="form-check__control"
                                                            type="checkbox" value="1" x-model="item.selected"
                                                            :change="updateSelectAllStatus()">
                                                    </label>
                                                </td>
                                                <td>
                                                    <img class="data-table__image" :src="item.image" alt="">
                                                </td>
                                                <td x-text="item.name"></td>
                                                <td x-text="item.location"></td>
                                                <td x-text="item.price_per_day.toLocaleString()"></td>
                                                <td>
                                                    <template x-if="item.status === 'available'">
                                                        <span class="status status--success"
                                                            x-text="item.status"></span>
                                                    </template>
                                                    <template x-if="item.status === 'rented'">
                                                        <span class="status status--danger" x-text="item.status"></span>
                                                    </template>
                                                </td>
                                                <td>
                                                    <div class="data-table__actions">
                                                        <a href="" class="btn btn--light btn--sm btn--icon"
                                                            @click.prevent="viewItem(item)" aria-label="View">
                                                            <i data-feather="eye" width="12" height="12"></i>
                                                        </a>
                                                        <a href="#" class="btn btn--light btn--sm btn--icon"
                                                            aria-label="Edit" @click.prevent="editItem(item)">
                                                            <i data-feather="edit" width="12" height="12"></i>
                                                        </a>
                                                        <a href="#" class="btn btn--delete btn--sm btn--icon"
                                                            aria-label="Delete" @click.prevent="deleteItem(item)">
                                                            <i data-feather="trash-2" width="12" height="12"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="data-table__footer">
                                <div class="data-table__footer-column">
                                    <div class="form-group">
                                        <label class="sr-only" for="number-of-results">Number of results</label>
                                        <select class="form-control form-control--sm" id="number-of-results"
                                            x-model="pageSize">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <p x-show="pagedItems.length > 0" x-text="resultsCount">Showing 1 to 10 of 20
                                        results</p>
                                </div>
                                <nav x-show="pages().length > 1" class="pagination" aria-label="Posts pagination">
                                    <ul class="pagination__links">
                                        <li>
                                            <button @click="previousPage" class="btn btn--sm btn--outline-primary"
                                                :disabled="curPage === 1">
                                                Previous
                                            </button>
                                        </li>
                                        <template x-for="(page, index) in pages()" :key="index">
                                            <li>
                                                <button @click="viewPage(index + 1)"
                                                    class="btn btn--sm btn--outline-primary"
                                                    :class="{ 'btn--primary': curPage === index + 1 }"
                                                    :aria-current="curPage === index + 1 ? 'page' : null">
                                                    <span x-text="index + 1"></span>
                                                </button>
                                            </li>
                                        </template>
                                        <li>
                                            <button @click="nextPage" class="btn btn--sm btn--outline-primary"
                                                :disabled="curPage === totalPages()">
                                                Next
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}