{% extends "auth.html" %}

{% block content %}
    <div class="l-main">
        <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
            {% include "snippets/sidebar.html" %}
        </div>
        <main id="content" class="l-main__body" data-item="body">
            {% include "snippets/header.html" %}
            {% set heading = {
                'title': Overview,
                'description': 'Hey Adam, welcome back! Here is your personal dashboard.',
                'actions': [{
                    'label': 'Orders',
                    'link': '/orders/',
                    'icon': './src/img/icon/shopping-cart.svg',
                    'class': 'btn btn--outline-primary btn--icon'
                }]
            } %}
            {% include "snippets/heading.html" %}
            <div class="container">
                <div class="app-body">
                    <div class="l-row l-row--column:sm:2 l-row--column:lg:3">
                        {% set widget = {
                            'class': 'app-widget--primary',
                            'trendingType': 'up',
                            'trendingData': '20+%',
                            'chartTitle': 'Bookings',
                            'chartData': '5',
                            'chartId': 'chart01'
                        } %}
                        {% include 'snippets/widget/chart.html' %}

                        {% set widget = {
                            'class': null,
                            'trendingType': 'up',
                            'trendingData': '+100%',
                            'chartTitle': 'Users',
                            'chartData': '2',
                            'chartId': 'chart02'
                        } %}
                        {% include 'snippets/widget/chart.html' %}

                        {% set widget = {
                            'class': null,
                            'trendingType': 'up',
                            'trendingData': '+12%',
                            'chartTitle': 'Payments',
                            'chartData': '7,520,000',
                            'chartId': 'chart03'
                        } %}
                        {% include 'snippets/widget/chart.html' %}
                    </div>
                    <div class="l-row l-row--column:sm:2 l-row--column:md:1 l-row--column:lg:2">
                </div>
            </div>
        </main>
    </div>
{% endblock %}
