{% extends "auth.html" %}

{% block content %}
<main class="l-auth">
    <div class="l-auth__inner">
        <div class="l-auth__form">
            <a class="l-auth__logo" href="{{ url_for('main.index') }}">
                <img src="https://ui.sprucecss.com/img/cone-logo.svg" alt="Cone" height="48" width="48" />
            </a>
            <div class="auth-form">
                <h2 class="auth-form__title">Password Reset</h2>
                <p class="">Don't worry, it happens. Enter the email associated with your account.</p>
                <form method="POST" action="#">
                    <div class="form-group-stack">
                        <div class="form-group">
                            <label class="form-label" for="your-email">Email</label>
                            <input
                                class="form-control form-control--lg"
                                id="your-email"
                                type="email"
                                name="your-email"
                                required="required"
                                autofocus="autofocus"
                            />
                        </div>
                        <div class="form-group">
                            <button
                                class="btn btn--primary btn--lg btn--block "
                            >
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="l-auth__footer">
                <p>Not a member? <a href="{{ url_for('main.signup') }}">Sign up</a></p>
            </div>
        </div>
        <div class="l-auth__sidebar"></div>
    </div>
</main>
{% endblock %}
