{% extends "auth.html" %}

{% block content %}
<main class="l-auth">
    <div class="l-auth__inner">
        <div class="l-auth__form">
            <a class="l-auth__logo" href="{{ url_for('main.index') }}">
                <img src="https://ui.sprucecss.com/img/cone-logo.svg" alt="Cone" height="48" width="48" />
            </a>
            <div class="auth-form" x-data="login">
                <h2 class="auth-form__title">Sign In</h2>
                <p class="lead">Hey there, welcome back!</p>

                <!-- Show error message if exists -->
                <div x-show="error" class="alert alert--danger" x-text="error"></div>

                <form @submit.prevent="handleSubmit">
                    <div class="form-group-stack">
                        <div class="form-group">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control form-control--lg" :class="{'is-invalid': errors.email}"
                                id="email" type="text" x-model="form.email" required="required" autocomplete="off"
                                autofocus="autofocus" />
                            <div x-show="errors.email" class="invalid-feedback" x-text="errors.email"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-label form-label--space-between" for="password">
                                Password
                                <a href="{{ url_for('main.reset_password') }}">Forgot your password?</a>
                            </label>
                            <input class="form-control form-control--lg" :class="{'is-invalid': errors.password}"
                                id="password" type="password" x-model="form.password" required="required"
                                autocomplete="off" />
                            <div x-show="errors.password" class="invalid-feedback" x-text="errors.password"></div>
                        </div>

                        <div class="form-group">
                            <label class="form-check form-check--lg" for="remember">
                                <input class="form-check__control" id="remember" type="checkbox"
                                    x-model="form.remember" />
                                <span class="form-label form-check__label">Remember me</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <button class="btn btn--primary btn--lg btn--block" type="submit" :disabled="isSubmitting">
                                <span x-show="!isSubmitting">Sign In</span>
                                <span x-show="isSubmitting">Signing in...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="l-auth__footer">
                <p>Not a member? <a href="{{ url_for('main.signup') }}">Sign up</a></p>
            </div>
        </div>
        <div class="l-auth__sidebar"></div>
    </div>
</main>
{% endblock %}