@use 'sprucecss/scss/spruce' as *;
@use 'mixins' as *;

.carousel {
	padding: spacer('m') 0;

	&__heading {
		@include heading(2rem);
	}

	&__wrapper {
		position: relative;
		padding: spacer('s');
	}

	&__inner {
		display: flex;
		gap: spacer('s') spacer-clamp('m', 'l');
		overflow-x: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		padding: spacer('s') 0;
		margin: calc(spacer('s') * -1);

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: color('background');
		border: 1px solid color('border');
		z-index: 1;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease;

		&:hover {
			color: color('primary');
		}

		&--prev {
			left: 0;
			transform: translate(-50%, -50%);
		}

		&--next {
			right: 0;
			transform: translate(50%, -50%);
		}
	}
}

.category-card {
	background: color('code-background');
	padding: calc(spacer('m') * 1.5);
	min-width: 280px;
	transition: all 0.2s ease;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);

	&:hover {
		transform: translateY(-4px);

		& .category-card__title {
			color: color('primary');
		}
	}

	&__icon {
		font-size: 2.5rem;
		display: block;
		margin-bottom: spacer('s');
	}

	&__title {
		text-transform: uppercase;
		font-size: 1.25rem;
		font-family: 'Oswald';
		margin: 0px;
	}

	&__description {
		color: var(--color-text-muted);
		margin: 0px;
	}

	&__count {
		font-size: var(--font-size-sm);
		color: var(--color-text-muted);
	}
}