@use 'sprucecss/scss/spruce' as *;

.equipment {
    padding-block: spacer('l');
    display: flex;
    flex-direction: column;
    gap: spacer('m');

    p {
        margin: 0px;
    }

    &__header {
        align-items: center;
        border-block-end: 0.5rem solid color('border');
        display: flex;
        flex-wrap: wrap;
        gap: spacer('xs') spacer('m');
        justify-content: space-between;
        min-block-size: 3.4rem;
        padding-bottom: spacer('s');
    }

    &__grid {
        $this: &;

        img {
            object-fit: cover;
        }

        &-item {
            margin-block: 0;
        }

        &--even {
            @include layout-grid('m', 15rem);

            img {
                aspect-ratio: 1;
            }
        }
    }
}
