@use 'sprucecss/scss/spruce' as *;


.cart {
    &__empty {
        background-color: color('primary-lightest');
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: spacer('m');
    }

    &__summary {
        padding-block: spacer('m');
    }
}



.cart-item {
    $this: &;

    align-items: center;
    background-color: color('background');
    border: 1px solid color('border');
    border-radius: 0px;
    color: color('heading');
    display: flex;
    gap: spacer('m');
    justify-content: space-between;
    padding: spacer-clamp('s', 'm');
    text-decoration: none;

    &__info {
        display: flex;
        gap: spacer('s') spacer('m');

        h3 {
            margin-block: 0;
            font-family: 'Oswald', 'Lexend', sans-serif;
            text-transform: uppercase;
            font-size: calc(font-size('h3') + 2px);
        }

        p {
            margin: 0;
        }
    }

    &__title {
        font-size: font-size('h4');
    }

    &__dates {
        display: flex;
        align-items: center;
        gap: spacer('xs');
    }

    &__link {
        color: color('heading');
        text-decoration: none;

        &:hover,
        &:focus {
            color: color('primary');
        }
    }

    &__data {
        @include layout-stack('xs');
    }


    &__image {
        img {
            width: 225px !important;
            height: auto;
        }
    }
}