@forward 'config';
@forward 'layout';
@forward 'component';
@forward 'section';
@forward 'extend';
@forward 'helper';

@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((--sidebar-inline-size: 20rem,
      --header-block-size: 4.5rem,
      --container-gap: spacer-clamp('m', 'l')));
}

body {
  overflow-x: hidden;

  .lead {
    margin-top: spacer('xs');
    margin-bottom: spacer('xs');
    font-size: 1.0625rem;
  }

  select {
    border-radius: 0px !important;
  }
}

[x-cloak] {
  visibility: hidden !important;
}