<header class="app-header">
    <div class="app-header__inner">
        <div class="app-header__column">
            <a class="app-header__logo" href="/" aria-label="site name">
                <i>{{ feather.icon('sun', class='btn__icon') }}</i>
            </a>
            <div class="app-header__actions app-header__actions--secondary display--none:md">
                <button :aria-expanded="sidebarOpen" @click="sidebarOpen = ! sidebarOpen" aria-label="Open navigation"
                    class="btn btn--outline-dark btn--sm btn--icon" data-action="sidebar-open">
                    <i>{{ feather.icon('menu', class='btn__icon') }}</i>
                </button>
                <button class="btn btn--outline-dark btn--sm btn--icon" aria-label="Open search" x-ref="searchOpen"
                    @click="search.show">
                    <i>{{ feather.icon('search', class='btn__icon') }}</i>
                </button>
            </div>
            {% set breadcrumbClass = 'app-header__breadcrumb' %}
            <!-- include 'partial/breadcrumb-list.html' -->
        </div>
        <div class="app-header__actions">
            <button :aria-expanded="notificationOpen" @click="notificationOpen = ! notificationOpen;"
                aria-label="Notifications" class="btn btn--light btn--icon btn--counter app-notification__toggle">
                <i>{{ feather.icon('bell', class='btn__icon') }}</i>
                <span class="btn__counter">4</span>
            </button>
            <!-- include 'partial/user-menu.html' %} -->
        </div>
        <!-- include "partial/search-modal.html" -->
    </div>
</header>