<aside @keyup.escape.window="sidebarOpen = false" class="app-sidebar" x-trap.noscroll="sidebarOpen">
    <div class="app-sidebar__header">
        <a class="app-sidebar__logo" href="/" aria-label="site.name">
            Dashboard
        </a>
        <button :aria-expanded="sidebarOpen" @click="sidebarOpen = false" aria-label="Close navigation"
            class="btn btn--outline-dark btn--sm btn--icon display--none:md">
            <i data-feather="x" class="btn__icon"></i>
        </button>
    </div>
    <div class="app-sidebar__body">
        <div class="block-navigation" x-data="{ open: true }">

            <h3 class="block-navigation__title">
                Store
                <button class="btn btn--light btn--sm btn--icon block-navigation__toggle" aria-label="Toggle navigation"
                    :aria-expanded="open" @click="open = ! open" aria-expanded="true">
                    <svg aria-hidden="true" fill="none" focusable="false" height="24" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" stroke="currentColor" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg" class="btn__icon">
                        <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>

                </button>
            </h3>

            <nav class="block-navigation__menu block-navigation__menu--breakout" data-state="open"
                :data-state="open ? 'open' : 'closed'">
                <ul>
                    <li>
                        <a href="/products/">
                            <i data-feather="hash"></i>
                            Equipment
                        </a>
                    </li>
                    <li>
                        <a href="/orders/">
                            <i data-feather="shopping-cart"></i>
                            Bookings
                        </a>
                    </li>
                    <li>
                        <a href="/customers/">
                            <i data-feather="users"></i>
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="/categories/">
                            <i data-feather="credit-card"></i>
                            Payments
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="block-navigation" x-data="{ open: false }">

            <h3 class="block-navigation__title">
                More
                <button class="btn btn--light btn--sm btn--icon block-navigation__toggle" aria-label="Toggle navigation"
                    :aria-expanded="open" @click="open = ! open" aria-expanded="true">
                    <svg aria-hidden="true" fill="none" focusable="false" height="24" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" stroke="currentColor" viewBox="0 0 24 24" width="24"
                        xmlns="http://www.w3.org/2000/svg" class="btn__icon">
                        <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>

                </button>
            </h3>
            <nav class="block-navigation__menu block-navigation__menu--breakout" data-state="open"
                :data-state="open ? 'open' : 'closed'">
                <ul>
                    <li>
                        <a href="/user/">
                            <i data-feather="user"></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a href="/password-reset/">
                            <i data-feather="key"></i>
                            Password Reset
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>