<header class="site-header">
    <div class="container">
        <div class="site-header__inner">
            <!-- Authentication & Navigation -->
            <div class="site-header__column" x-data="authComponent" x-init="checkAuthStatus()">
                <a class="site-header__logo" href="#">
                    <img src="https://ui.sprucecss.com/img/cone-logo.svg" alt="Cone" width="48" height="48" />
                </a>
                <nav class="site-navigation site-header__navigation" aria-label="Site">
                    <button class="btn btn--primary btn--icon site-navigation__btn" data-action="navigation-toggle"
                        aria-controls="primary-menu" aria-expanded="false" aria-label="Menu">
                        <svg aria-hidden='true' focusable='false' role='img' height='24'
                            style='fill-rule:evenodd;clip-rule:evenodd;fill:currentColor;overflow:visible;'
                            viewBox='0 0 24 24' width='24' xmlns:xlink='http://www.w3.org/1999/xlink'
                            xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                            <path
                                d='M24,19.6c0,-0.331 -0.269,-0.6 -0.6,-0.6l-20.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l20.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-22.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l22.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-15.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l15.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Z'>
                            </path>
                        </svg>
                    </button>
                    <ul class="navigation-menu">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Actions -->
            <div class="site-header__actions" x-data="authComponent" x-init="checkAuthStatus()">
                <a x-data="userComponent" x-init="fetchUser()" href="#">Hello <span x-text="userName"></span></a>
                <button class="site-header__btn btn btn--primary" x-show="isAuthenticated" @click="logout"><svg aria-hidden='true'
                        fill='none' focusable='false' height='24' stroke-linecap='round' stroke-linejoin='round'
                        stroke-width='3' stroke='currentColor' viewBox='0 0 24 24' width='24'
                        xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                        <path d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2'></path>
                        <circle cx='12' cy='7' r='4'></circle>
                    </svg>
                    Log out</button>
                <a class="site-header__btn btn btn--primary" x-show="!isAuthenticated"
                    href="{{url_for('main.signin')}}">
                    <svg aria-hidden='true' fill='none' focusable='false' height='24' stroke-linecap='round'
                        stroke-linejoin='round' stroke-width='3' stroke='currentColor' viewBox='0 0 24 24' width='24'
                        xmlns='http://www.w3.org/2000/svg' class='btn__icon'>
                        <path d='M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2'></path>
                        <circle cx='12' cy='7' r='4'></circle>
                    </svg>
                    Log in
                </a>
            </div>
        </div>
    </div>
</header>